*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  ul {
    list-style: none;
}

body{
    font-family: 'Khula', sans-serif;
    font-family: 16px;
  }

.prelude {
background:url("../img/image\ 1.png");;
background-repeat:no-repeat;
height: 100vh;
color: white;
width: 100%;
}

.containner {
  width: 1400px;
  max-width: calc(100% - 64px);
  padding: 0 32px;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;  
    padding: 32px 0;
}

.header__menu-icon {
height: 22px;
width: 28px;
padding: 3px 0;
}

.header-icon--span {
width: 20px;
height: 2px;
background: white;
display: block;
margin: 4px;
}

.titulo {
position: absolute;
width: 152px;
height: 28px;
left: 630px;
top: 32px;
font-family: Playfair Display;
font-style: italic;
font-weight: bold;
font-size: 28px;
line-height: 28px;
display: flex;
align-items: center;
}

.line {
  position: absolute;
  width: 112px;
  height: 4px;
  left: 80px;
  top: 248px;
  border-radius: 10px;
}

.titulo2 {
  font-size: 80px;
  font-family: Playfair Display;
  line-height: 1.1;
  padding: 40px 0 24px;
  font-weight: 700;
  max-width: 704px;
}

.subtitulo-txt {
  font-size: 32px;
  font-family: Gilroy;
  font-style: normal;
  line-height: 40px;
  font-weight: 300;
  max-width: 459px;
}
.slider-tracks {
  display: flex;
}

.slider-tracks__item {
  width: 32px;
  height: 4px;
  opacity: 0.5;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
  transition: .5s background, .5s opacity;
}

.slider-tracks__item:hover {
  background: #fff;
  opacity: 1;
}

.slider-tracks__item:not(:last-child) {
  margin-right: 8px;
}

.slider-tracks__item--active {
  opacity: 1;
}

.slider-controls {
  position: absolute;
  bottom: 60px;
}
.rectangle-15 {
  position: absolute;
  width: 704px;
  height: 560px;
  left: 80px;
  top: 1020px;

}
.texto-magico {
  position: absolute;
  width: 581px;
  height: 252px;
  left: 939px;
  top: 1024px;

}
.sub-magico {
  position: absolute;
  width: 581px;
  height: 160px;
  left: 939px;
  top: 1116px;
}
.rectangle-16 {
  position: absolute;
  width: 704px;
  height: 560px;
  left: 715px;
  top: 1724px;
}
.limao-txt {
  position: absolute;
  width: 581px;
  height: 60px;
  left: 203px;
  top: 1724px;
}
.limao-sub {
  position: absolute;
  width: 581px;
  height: 120px;
  left: 203px;
  top: 1816px;
}

.mapa {
background-repeat:no-repeat;
position: relative;
height: 107;
color: white;
width: 1240px;
left: 47px;  
}

.footer {
  display: inline-block;
  width: 100%;
  background: #F3F3F3;
  height: 200px;
  
}
.footer h1 {
  display: inline-block;
  width: 10%;
  vertical-align: top;
  font-size: 16px;
  position: relative;
  left: 50px;
  top: 25px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  
}
.div-ul {
  display: inline-block;
  line-height: 22px;
}
.ul1{
  display: inline-block;
  position: relative;
  left: 200px;
  top: 25px;
}
.ul2 {
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 400px;
  top: 25px;
}
.ul3 {
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 600px;
  top: 25px;
}
.footer a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.li-rede {
  display: inline-block;
}
.mentorama {
    text-align: center;
    position: relative;
    top: 53px;
    background: #F2F2F2;
  } 
.mentoramalogo {
    font-size: 12px;
    font-weight: bold;
  }
.mentorama2 {
 font-size: 16px;
 font-weight: 900;
  }